**Zadanie Preprocessing - Artur Kompała**

Wybierz dowolny zbiór danych z https://www.kaggle.com/datasets lub https://archive.ics.uci.edu/ml/index.php, w którym występują braki danych, przynajmniej jeden atrybut ciągły, obserwacje odstające. Postaraj się wykonać jak najszerszy preprocesing danych oczywiście wykonaj to ze zrozumieniem i uzasadnieniem. Można korzystać z dowolnego narzędzia Python.

Przygotuj sprawozdanie z wykonanych prac - skrypt Python z komentarzami, nagrany film, raport pdf. Wyślij do oceny. (Może być wzorowany na nagraniu doktoranta)

In [81]:
import kagglehub
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.neighbors import KNeighborsClassifier

# Download latest version
path = kagglehub.dataset_download("uom190346a/water-quality-and-potability")

print("Path to dataset files:", path)
data = pd.read_csv(path + "/water_potability.csv", na_values=["", " ", "NA", "NaN", None])
data

Path to dataset files: C:\Users\megaz\.cache\kagglehub\datasets\uom190346a\water-quality-and-potability\versions\2

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1

In [82]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2785 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          2495 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3114 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 256.1 KB

In [83]:
data.describe()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
count,2785.000000,3276.000000,3276.000000,3276.000000,2495.000000,3276.000000,3276.000000,3114.000000,3276.000000,3276.000000
mean,7.080795,196.369496,22014.092526,7.122277,333.775777,426.205111,14.284970,66.396293,3.966786,0.390110
std,1.594320,32.879761,8768.570828,1.583085,41.416840,80.824064,3.308162,16.175008,0.780382,0.487849
min,0.000000,47.432000,320.942611,0.352000,129.000000,181.483754,2.200000,0.738000,1.450000,0.000000
25%,6.093092,176.850538,15666.690297,6.127421,307.699498,365.734414,12.065801,55.844536,3.439711,0.000000
50%,7.036752,196.967627,20927.833607,7.130299,333.073546,421.884968,14.218338,66.622485,3.955028,0.000000
75%,8.062066,216.667456,27332.762127,8.114887,359.950170,481.792304,16.557652,77.337473,4.500320,1.000000
max,14.000000,323.124000,61227.196008,13.127000,481.030642,753.342620,28.300000,124.000000,6.739000,1.000000

### Konwersja kolumny 'Potability' z int na bool

In [84]:
data['Potability'] = data['Potability'].astype(bool)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2785 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          2495 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3114 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   bool
dtypes: bool(1), float64(9)
memory usage: 233.7 KB

### Znajdowanie brakujących wartości

In [85]:
missing_values = data.isnull().sum()
print("Missing values per column:", missing_values)

Missing values per column: ph                 491
Hardness             0
Solids               0
Chloramines          0
Sulfate            781
Conductivity         0
Organic_carbon       0
Trihalomethanes    162
Turbidity            0
Potability           0
dtype: int64

### Zastąpnienie brakujących wartości średnią kolumny

In [86]:
imputer = SimpleImputer(strategy='mean')
data['ph'] = imputer.fit_transform(data[['ph']])
data['Sulfate'] = imputer.fit_transform(data[['Sulfate']])
data['Trihalomethanes'] = imputer.fit_transform(data[['Trihalomethanes']])

### Wykrywanie duplikatów w danych

In [87]:
duplicated_data = data.duplicated().sum()
print(duplicated_data)

0

### Wykrywanie obserwacji odstających metodą rozstępu międzykwartylowego (IQR)

In [88]:
def detect_outliers(df):
    outlier_counts = {}
    for col in df.select_dtypes(include=[float, int]).columns:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
        outlier_counts[col] = outliers.shape[0]
    print("Outlier counts per column:")
    print(outlier_counts)

detect_outliers(data)

Outlier counts per column:
{'ph': 142, 'Hardness': 83, 'Solids': 47, 'Chloramines': 61, 'Sulfate': 264, 'Conductivity': 11, 'Organic_carbon': 25, 'Trihalomethanes': 54, 'Turbidity': 19}

### Usuwanie obserwacji odstających z danych

In [89]:
import pandas as pd

def remove_outliers(df):
    df_clean = df.copy()
    for col in df_clean.select_dtypes(include=[float, int]).columns:
        Q1 = df_clean[col].quantile(0.25)
        Q3 = df_clean[col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        df_clean = df_clean[(df_clean[col] >= lower_bound) & (df_clean[col] <= upper_bound)]
    return df_clean

data_no_outliers = remove_outliers(data)
print(data_no_outliers.info())

<class 'pandas.core.frame.DataFrame'>
Index: 2657 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2657 non-null   float64
 1   Hardness         2657 non-null   float64
 2   Solids           2657 non-null   float64
 3   Chloramines      2657 non-null   float64
 4   Sulfate          2657 non-null   float64
 5   Conductivity     2657 non-null   float64
 6   Organic_carbon   2657 non-null   float64
 7   Trihalomethanes  2657 non-null   float64
 8   Turbidity        2657 non-null   float64
 9   Potability       2657 non-null   bool
dtypes: bool(1), float64(9)
memory usage: 210.2 KB
None

In [103]:
from sklearn.preprocessing import StandardScaler
print("Przed skalowaniem:")
print(data_no_outliers.select_dtypes(include=[float]).agg(['mean', 'std']))

data_std = data_no_outliers.copy()
scaler = StandardScaler()

for col in data_std.select_dtypes(include=[float]).columns:
    data_std[col] = scaler.fit_transform(data_std[[col]])

print("\nPo skalowaniu StandardScaler:")
print(data_std.select_dtypes(include=[float]).agg(['mean', 'std']))

Przed skalowaniem:
            ph    Hardness        Solids  Chloramines     Sulfate  \
mean  7.077898  196.987221  21465.542889     7.111240  333.851905
std   1.214608   28.266583   7873.882113     1.410896   26.263921

      Conductivity  Organic_carbon  Trihalomethanes  Turbidity
mean    425.738024       14.326481        66.476449   3.962308
std      79.907395        3.224768        14.976547   0.761498

Po skalowaniu StandardScaler:
                ph      Hardness        Solids   Chloramines       Sulfate  \
mean  1.176661e-16 -9.152550e-16  1.016207e-16 -1.149919e-16  1.353160e-15
std   1.000188e+00  1.000188e+00  1.000188e+00  1.000188e+00  1.000188e+00

      Conductivity  Organic_carbon  Trihalomethanes     Turbidity
mean  9.373174e-16    6.525120e-16    -5.321716e-16 -2.487033e-16
std   1.000188e+00    1.000188e+00     1.000188e+00  1.000188e+00

### Porównanie modeli uczenia maszynowego na danych surowych i po usunięciu obserwacji odstających

In [109]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier

def evaluate_models(df):
    X = df.drop('Potability', axis=1)
    y = df['Potability']
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    models = {
        "Logistic Regression": LogisticRegression(max_iter=1000),
        "KNeighborsClassifier": KNeighborsClassifier(),
        "SVM": SVC(class_weight='balanced')
    }
    results = {}
    for name, model in models.items():
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        results[name] = accuracy_score(y_test, y_pred)
    return results

results_raw = evaluate_models(data)
results_no_outliers = evaluate_models(data_no_outliers)
results_no_outliers_and_std = evaluate_models(data_std)

comparison_df = pd.DataFrame({
    "Raw Data": results_raw,
    "No Outliers Data": results_no_outliers,
    "No Outliers & Std Data": results_no_outliers_and_std
})
print(comparison_df)

                      Raw Data  No Outliers Data  No Outliers & Std Data
Logistic Regression   0.628049          0.654135                0.654135
KNeighborsClassifier  0.541159          0.586466                0.625940
SVM                   0.571646          0.609023                0.629699